# Data Preprocessing Tools

In [2]:
# import libraries 
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd 
import seaborn as sns 
%matplotlib inline

In [3]:
# import the data 
data = pd.read_csv('../Data/Purchase.csv')
data.head()

   Country   Age   Salary Purchased
0  Germany   NaN      NaN        No
1  Germany   NaN      NaN       Yes
2  Germany  43.0  67611.0       Yes
3  Germany  37.0      NaN       Yes
4    Spain  55.0      NaN       Yes

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    200 non-null    object
 1   Age        110 non-null    float64
 2   Salary     103 non-null    float64
 3   Purchased  200 non-null    object
dtypes: float64(2), object(2)
memory usage: 6.4+ KB

The features are `Country`, `Age`, `Salary` and the dependent variable is `Purchased`

In [23]:
# separate the features from the dependent variable and convert to NumPy array
X = data.iloc[:, :-1].values
y = data.iloc[:,-1].values

# shape 
X.shape, y.shape

((200, 3), (200,))

In [24]:
X

array([['Germany', nan, nan],
       ['Germany', nan, nan],
       ['Germany', 43.0, 67611.0],
       ['Germany', 37.0, nan],
       ['Spain', 55.0, nan],
       ['Spain', 25.0, 58058.0],
       ['Spain', 40.0, 62617.0],
       ['France', 36.0, nan],
       ['Spain', nan, nan],
       ['Spain', nan, 42394.0],
       ['Germany', nan, nan],
       ['France', nan, nan],
       ['France', 50.0, 61711.0],
       ['Germany', nan, nan],
       ['France', 59.0, 47686.0],
       ['France', nan, 41322.0],
       ['France', 33.0, 82755.0],
       ['Germany', 37.0, nan],
       ['Spain', nan, nan],
       ['Germany', 58.0, nan],
       ['Spain', 35.0, nan],
       ['Germany', 54.0, nan],
       ['Germany', 41.0, 82872.0],
       ['Germany', 35.0, 81562.0],
       ['Germany', nan, 80776.0],
       ['France', nan, nan],
       ['Spain', nan, nan],
       ['France', 57.0, 48931.0],
       ['France', 60.0, 63567.0],
       ['France', 32.0, 51600.0],
       ['France', 37.0, 67000.0],
       ['France', nan, nan],
       ['France', 27.0, 54332.0],
       ['Germany', nan, 58736.0],
       ['France', 25.0, 83397.0],
       ['Germany', 34.0, 62520.0],
       ['France', 30.0, nan],
       ['France', nan, 62132.0],
       ['Germany', nan, nan],
       ['Spain', nan, nan],
       ['Spain', nan, 50560.0],
       ['Germany', 59.0, nan],
       ['Spain', nan, 43369.0],
       ['Germany', 47.0, nan],
       ['Spain', 54.0, nan],
       ['Spain', 31.0, nan],
       ['Spain', nan, 86787.0],
       ['Germany', nan, 74671.0],
       ['Spain', nan, nan],
       ['France', nan, 49154.0],
       ['France', nan, 81400.0],
       ['France', 45.0, nan],
       ['France', 35.0, 58000.0],
       ['France', 38.0, nan],
       ['Germany', 35.0, 86160.0],
       ['Germany', nan, nan],
       ['Germany', 33.0, nan],
       ['France', 56.0, nan],
       ['Spain', 48.0, nan],
       ['Germany', nan, 52198.0],
       ['France', nan, 50147.0],
       ['Spain', nan, 87085.0],
       ['France', nan, 42176.0],
       ['Germany', 25.0, 77241.0],
       ['Germany', nan, nan],
       ['Germany', nan, nan],
       ['France', nan, 77015.0],
       ['Germany', 44.0, 51201.0],
       ['Germany', 31.0, 73369.0],
       ['France', nan, nan],
       ['Germany', 29.0, nan],
       ['Germany', 44.0, nan],
       ['Germany', 43.0, 82774.0],
       ['Spain', nan, 47193.0],
       ['Spain', 45.0, nan],
       ['Spain', nan, 47672.0],
       ['Spain', 55.0, 61809.0],
       ['France', 55.0, 53139.0],
       ['Germany', 37.0, nan],
       ['Spain', nan, 85440.0],
       ['Germany', 30.0, 54000.0],
       ['Germany', 40.0, nan],
       ['Spain', 31.0, 76556.0],
       ['Germany', nan, nan],
       ['France', nan, 63807.0],
       ['France', nan, nan],
       ['France', 52.0, 60955.0],
       ['France', 48.0, 49122.0],
       ['France', 31.0, 75310.0],
       ['France', 27.0, nan],
       ['Germany', 52.0, nan],
       ['France', 44.0, 52943.0],
       ['France', nan, nan],
       ['Germany', 35.0, nan],
       ['Germany', nan, 41121.0],
       ['France', nan, 78776.0],
       ['Spain', nan, 59917.0],
       ['Spain', nan, 52000.0],
       ['France', 32.0, nan],
       ['France', nan, nan],
       ['Germany', 40.0, nan],
       ['Germany', 25.0, nan],
       ['Germany', 47.0, nan],
       ['Germany', 32.0, nan],
       ['France', nan, nan],
       ['Germany', nan, 70813.0],
       ['France', nan, nan],
       ['Germany', 55.0, 82324.0],
       ['Spain', nan, nan],
       ['Spain', 26.0, 77940.0],
       ['Spain', 45.0, nan],
       ['France', 44.0, 72000.0],
       ['Germany', nan, nan],
       ['Spain', 38.0, nan],
       ['Spain', 42.0, 67795.0],
       ['France', 44.0, 61248.0],
       ['Spain', 58.0, 61710.0],
       ['Germany', 25.0, nan],
       ['Germany', nan, nan],
       ['France', 58.0, nan],
       ['Spain', nan, 50679.0],
       ['Spain', 39.0, nan],
       ['France', 30.0, 62101.0],
       ['Germany', 35.0, nan],
       ['France', nan, 66211.0],
       ['Germany', 26.0, 61877.0],
       ['Germany', nan, nan],
       ['Germany', 26.0, 70977.0],
       ['Spain', 54.0, 59168.0],
       ['Spain', 50.0, nan],
       ['Spain', 46.0, 65378.0],
       ['Spain', nan, 80469.0],
       ['Germany', 45.0, nan],
       ['Spain', 53.0, nan],
       ['France', nan, 67608.0],
       ['Germany', nan, 57451.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', nan, nan],
       ['Spain', 51.0, 62477.0],
       ['France', 25.0, nan],
       ['France', 33.0, 79552.0],
       ['Spain', nan, nan],
       ['Germany', 42.0, nan],
       ['Spain', nan, nan],
       ['Spain', nan, nan],
       ['Germany', nan, 56052.0],
       ['France', 48.0, 79000.0],
       ['Spain', nan, nan],
       ['France', nan, nan],
       ['Spain', 53.0, nan],
       ['Spain', nan, 61390.0],
       ['Spain', 35.0, nan],
       ['Spain', 46.0, nan],
       ['Germany', 50.0, 83000.0],
       ['Germany', 54.0, 85983.0],
       ['France', nan, 60834.0],
       ['Germany', nan, nan],
       ['France', 32.0, nan],
       ['Germany', nan, 65119.0],
       ['Germany', 46.0, nan],
       ['Spain', nan, 75031.0],
       ['France', 59.0, nan],
       ['Germany', 45.0, nan],
       ['France', nan, nan],
       ['Germany', 59.0, nan],
       ['Spain', nan, nan],
       ['Germany', 48.0, 53253.0],
       ['Spain', 44.0, 53523.0],
       ['France', 38.0, nan],
       ['Germany', nan, 89610.0],
       ['Spain', nan, 72282.0],
       ['Germany', 59.0, 59932.0],
       ['France', nan, 59157.0],
       ['France', 51.0, nan],
       ['Germany', 39.0, 83734.0],
       ['Germany', nan, 54558.0],
       ['Spain', 53.0, 47766.0],
       ['Germany', nan, nan],
       ['Spain', nan, 64754.0],
       ['France', 32.0, nan],
       ['Spain', 27.0, 48000.0],
       ['Spain', nan, nan],
       ['Spain', 34.0, nan],
       ['Spain', nan, 70693.0],
       ['France', nan, 46597.0],
       ['France', 25.0, 78461.0],
       ['Germany', nan, nan],
       ['France', 40.0, nan],
       ['Spain', nan, 66093.0],
       ['Spain', nan, 80285.0],
       ['Spain', 58.0, 41523.0],
       ['Spain', nan, nan],
       ['France', nan, 81577.0],
       ['Germany', nan, 69546.0],
       ['Spain', nan, 59835.0],
       ['Germany', nan, 45678.0],
       ['Germany', 34.0, nan],
       ['Germany', nan, nan],
       ['France', 51.0, nan],
       ['France', nan, 79642.0]], dtype=object)

## Dealing with Missing Values

In [ ]:
# looking at number of missing values 
# note that the dtype is object - first convert it to float 

numeric_arr = X[:,[1,2]].astype('float')
np.sum(np.isnan(numeric_arr)) # total missing values

np.int64(187)

In [29]:
# import necessary libraries 
from sklearn.impute import SimpleImputer

# Note, however, that while doing ML models first divide the dataset into train and test set and the do imputation

# create a instance of SimpleImputer class
imputer = SimpleImputer(missing_values=np.nan,
                        strategy='mean')

# fit and transform on the dataset (only include the numeric columns)
X[:,[1,2]] =  imputer.fit_transform(X=numeric_arr)

In [34]:
numeric_arr = X[:,[1,2]].astype('float')
np.sum(np.isnan(numeric_arr)) # total missing values

np.int64(0)

In [39]:
# Retrieve the values used for imputation
print("Imputation values:", imputer.statistics_)

Imputation values: [4.16636364e+01 6.46245825e+04]

## One Hot Encoding - Transforming Categorical Variables

In [ ]:
# number of unique values in the Country columns 
np.unique(X[:,0])

array(['France', 'Germany', 'Spain'], dtype=object)

In [ ]:
# import necessary libraries 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# create the ColumnTransformer object 
ct = ColumnTransformer(
    transformers=[('encoder', OneHotEncoder(), [0])],
    remainder='passthrough'
)

# fit and transform X and convert it to a numpy array (important for ML)
X = np.array(ct.fit_transform(X=X))

In [47]:
X

array([[0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 43.0, 67611.0],
       [0.0, 1.0, 0.0, 37.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 55.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 25.0, 58058.0],
       [0.0, 0.0, 1.0, 40.0, 62617.0],
       [1.0, 0.0, 0.0, 36.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 42394.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 50.0, 61711.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 59.0, 47686.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 41322.0],
       [1.0, 0.0, 0.0, 33.0, 82755.0],
       [0.0, 1.0, 0.0, 37.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 58.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 35.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 54.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.0, 82872.0],
       [0.0, 1.0, 0.0, 35.0, 81562.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 80776.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 57.0, 48931.0],
       [1.0, 0.0, 0.0, 60.0, 63567.0],
       [1.0, 0.0, 0.0, 32.0, 51600.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 27.0, 54332.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 58736.0],
       [1.0, 0.0, 0.0, 25.0, 83397.0],
       [0.0, 1.0, 0.0, 34.0, 62520.0],
       [1.0, 0.0, 0.0, 30.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 62132.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 50560.0],
       [0.0, 1.0, 0.0, 59.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 43369.0],
       [0.0, 1.0, 0.0, 47.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 54.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 31.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 86787.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 74671.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 49154.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 81400.0],
       [1.0, 0.0, 0.0, 45.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [1.0, 0.0, 0.0, 38.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 35.0, 86160.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 33.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 56.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 48.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 52198.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 50147.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 87085.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 42176.0],
       [0.0, 1.0, 0.0, 25.0, 77241.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 77015.0],
       [0.0, 1.0, 0.0, 44.0, 51201.0],
       [0.0, 1.0, 0.0, 31.0, 73369.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 29.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 44.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 43.0, 82774.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 47193.0],
       [0.0, 0.0, 1.0, 45.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 47672.0],
       [0.0, 0.0, 1.0, 55.0, 61809.0],
       [1.0, 0.0, 0.0, 55.0, 53139.0],
       [0.0, 1.0, 0.0, 37.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 85440.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 1.0, 0.0, 40.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 31.0, 76556.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 63807.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 52.0, 60955.0],
       [1.0, 0.0, 0.0, 48.0, 49122.0],
       [1.0, 0.0, 0.0, 31.0, 75310.0],
       [1.0, 0.0, 0.0, 27.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 52.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 44.0, 52943.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 35.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 41121.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 78776.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 59917.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 52000.0],
       [1.0, 0.0, 0.0, 32.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 40.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 25.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 47.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 32.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 70813.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 55.0, 82324.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 26.0, 77940.0],
       [0.0, 0.0, 1.0, 45.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 38.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 42.0, 67795.0],
       [1.0, 0.0, 0.0, 44.0, 61248.0],
       [0.0, 0.0, 1.0, 58.0, 61710.0],
       [0.0, 1.0, 0.0, 25.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 58.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 50679.0],
       [0.0, 0.0, 1.0, 39.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 30.0, 62101.0],
       [0.0, 1.0, 0.0, 35.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 66211.0],
       [0.0, 1.0, 0.0, 26.0, 61877.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 26.0, 70977.0],
       [0.0, 0.0, 1.0, 54.0, 59168.0],
       [0.0, 0.0, 1.0, 50.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 46.0, 65378.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 80469.0],
       [0.0, 1.0, 0.0, 45.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 53.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 67608.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 57451.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 51.0, 62477.0],
       [1.0, 0.0, 0.0, 25.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 33.0, 79552.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 42.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 56052.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 53.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 61390.0],
       [0.0, 0.0, 1.0, 35.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 46.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [0.0, 1.0, 0.0, 54.0, 85983.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 60834.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 32.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 65119.0],
       [0.0, 1.0, 0.0, 46.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 75031.0],
       [1.0, 0.0, 0.0, 59.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 45.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 59.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 1.0, 0.0, 48.0, 53253.0],
       [0.0, 0.0, 1.0, 44.0, 53523.0],
       [1.0, 0.0, 0.0, 38.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 89610.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 72282.0],
       [0.0, 1.0, 0.0, 59.0, 59932.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 59157.0],
       [1.0, 0.0, 0.0, 51.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 39.0, 83734.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 54558.0],
       [0.0, 0.0, 1.0, 53.0, 47766.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 64754.0],
       [1.0, 0.0, 0.0, 32.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [0.0, 0.0, 1.0, 34.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 70693.0],
       [1.0, 0.0, 0.0, 41.663636363636364, 46597.0],
       [1.0, 0.0, 0.0, 25.0, 78461.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 40.0, 64624.58252427184],
       [0.0, 0.0, 1.0, 41.663636363636364, 66093.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 80285.0],
       [0.0, 0.0, 1.0, 58.0, 41523.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 81577.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 69546.0],
       [0.0, 0.0, 1.0, 41.663636363636364, 59835.0],
       [0.0, 1.0, 0.0, 41.663636363636364, 45678.0],
       [0.0, 1.0, 0.0, 34.0, 64624.58252427184],
       [0.0, 1.0, 0.0, 41.663636363636364, 64624.58252427184],
       [1.0, 0.0, 0.0, 51.0, 64624.58252427184],
       [1.0, 0.0, 0.0, 41.663636363636364, 79642.0]], dtype=object)

In [48]:
# using LabelEncoder for the dependent variable 
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y = le.fit_transform(y)

y

array([0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 0])

## Splitting the set into Train and Test Set

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True,
                                                    random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((160, 5), (40, 5), (160,), (40,))

## Feature Scaling

In [54]:
from sklearn.preprocessing import StandardScaler

# create an object of the class 
sc = StandardScaler()

# fit only on the train set and baseds on that transform train and test set
# donot apply Standardization on the dummy variables 

X_train[:,3:] = sc.fit_transform(X_train[:,3:])
X_test[:,3:] = sc.transform(X_test[:,3:])